.navbar span.site-name {
  margin-left: -7px;
  font-size: 1.8rem;
  font-family: cursive;
  -webkit-font-smoothing: antialiased;
  font-weight: 800;
  color: #4b4b4b;
}
footer.page-edit .edit-link a {
  color: #2b6ae0;
}
